@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our Car Shop!</h1>
    
    <img src="~/Images/carcollection.jpg" class="w-50 rounded"/>

    <br />

    <a class="btn btn-primary mt-2" asp-page="CarCollection">Buy Now!</a>

</div>
